 
h1.title:hover{
    cursor: pointer;
    transform: scale(1.1);
    color: rgb(237, 226, 226);
    background-color: rgba(157, 174, 188, 0.582);
    box-shadow: 0 0 1rem rgba(215, 215, 225, 0.461), 0 0 4rem rgba(69, 60, 60, 0.461), 0 0 8rem rgba(224, 214, 214, 0.461);

} 




.title {
    color: rgb(58, 55, 55);
   text-shadow: 4ch;
    color: #e9f1f1;
font-size: 4.5rem;
  font-weight: bold;
  font-family: Helvetica;
  text-shadow: 0 1px 0 #211f1f, 0 2px 0 #c9c9c9, 0 3px 0 #626060, 0 4px 0 #201f1f, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
  backdrop-filter: blur(5px);
  
 


}




    

/* body{
    background-image: url('./6657-cachorros.jpg');
    background-size: cover;
  }  */
  
  
  
  
  .image {
    position: relative;
    top: 0;
    left: 0;
    width: 99%;
background-size: cover;
background-position: center center;
background-image: url('./_.jpeg');
background-size: cover;
background-position: center center;
position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

height: 100vh;
  }


    
   
  
   


  